<template>
    <div>
        <div v-if="loading">
            Loading ...
        </div>
        <div v-else>
            <div class="flex justify-between">
                <div class="text-blue-400">
                    <button>
                        <router-link :to="'/codes'">
                            < Back
                        </router-link>
                    </button>
                </div>
                <div class="relative">
                    <router-link :to="'/codes/' + code.code_id + '/edit'"
                                 class="px-4 py-2 rounded text-sm mr-2 font-bold text-green-500 border border-green-500">
                        Edit
                    </router-link>
                    <a href="#" class="px-4 py-2 text-sm font-bold border border-red-500 rounded text-sm text-red-500"
                       @click="modal = !modal">Delete</a>

                    <div v-if="modal"
                         class="absolute bg-blue-900 text-white rounded-lg z-20 p-8 w-64 right-0 mt-2 mr-6">
                        <p>Are you sure?</p>
                        <div class="flex items-center mt-6 justify-end">
                            <button @click="modal = !modal" class="text-white pr-4">Cancel</button>
                            <button @click="destroy()"
                                    class="px-4 py-2 bg-red-500 rounded text-sm font-bold text-white">Delete
                            </button>
                        </div>
                    </div>

                </div>
                <div v-if="modal" @click="modal = !modal" class="bg-black opacity-25 absolute right-0 left-0 top-0 bottom-0
z-10"></div>
            </div>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Identifier</p>
            <p class="pt-2 text-blue-400">{{ code.identifier }}</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Limit</p>
            <p class="pt-2 text-blue-400">{{ code.limit }} Time(s)</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Used</p>
            <p class="pt-2 text-blue-400">{{ code.used }} Time(s)</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Last updated</p>
            <p class="pt-2 text-blue-400">{{ code.last_updated }}</p>

            <hr class="text-gray-700 mt-5">

            <h2 class="text-blue-900 font-bold text-3xl mt-3 mb-2">Winners</h2>

            <form @submit.prevent="getCodeDetails()" class="pb-2">
                <InputField name="mobile_number" label="Phone Number" placeholder="Search by Phone Number"
                            @update:field="phoneNumber = $event"></InputField>
                <div class="flex justify-end">
                    <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Search</button>
                </div>
            </form>

            <div v-if="code.winners.length === 0">
                <p>No Winners to show.</p>
            </div>
            <div v-for="winner in code.winners" class="inline-flex items-center">
                <router-link :to="'/registers/' + winner.data.register_id"
                             class="flex-1 border border-gray-400 p-4 hover:bg-gray-100">
                    <span classs="text-blue-400 font-bold pl-4">{{ winner.data.mobile_number }}</span>
                </router-link>
            </div>


        </div>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "CodeShow",

        components: {
            InputField
        },
        mounted() {
            this.getCodeDetails();
        },
        data: function () {
            return {
                modal: false,
                code: null,
                loading: true,
                phoneNumber: '',
            }
        },
        methods: {
            destroy: function () {
                axios.delete('/api/codes/' + this.$route.params.id)
                    .then(response => {
                        this.$router.push('/codes');
                    })
                    .catch(error => {
                        alert('Unable to delete');
                    })
            },
            getCodeDetails: function () {
                axios.get('/api/codes/' + this.$route.params.id + '?mobile_number=' + this.phoneNumber)
                    .then(response => {
                        this.loading = false;
                        this.code = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    if (error.response.status == 404) {
                        this.$router.push('/codes')
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
