<template>
<div>
    <form @submit.prevent="submitForm()">
        <InputField name="identifier" label="Code Identifier" placeholder="The identifier of the code" @update:field="form.identifier = $event" :errors="errors"></InputField>
        <InputField name="limit" label="Code Limit" placeholder="The number of times this code can be used" @update:field="form.limit = $event" :errors="errors"></InputField>
        <div class="flex justify-end">
            <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Add New Code</button>
        </div>
    </form>
</div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "CodeCreate",
        components: {
            InputField
        },
        data: function () {
            return {
                form: {
                    'identifier' : '',
                    'limit' : ''
                },
                errors: null
            }
        },
        methods: {
            submitForm: function () {
                axios.post('/api/codes', this.form)
                .then(response => {
                    this.$router.push(response.data.links.self);
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>

</style>
