<template>
    <div>
        <div class="flex justify-between">
            <div class="text-blue-400">
                <button> <router-link :to="'/codes/' + this.$route.params.id">
                    < Back
                </router-link></button>
            </div>
        </div>
        <form @submit.prevent="submitForm()">
            <InputField name="name" label="Code Identifier" placeholder="Identifier" @update:field="form.identifier = $event" :errors="errors" :data="form.identifier"></InputField>
            <InputField name="email" label="Code Limit" placeholder="Limit" @update:field="form.limit = $event" :errors="errors" :data="form.limit"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Edit Code</button>
            </div>

        </form>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "CodeEdit",
        mounted() {
            axios.get('/api/codes/' + this.$route.params.id)
                .then(response => {
                    this.form = response.data.data;
                    console.log(this.form);

                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    if(error.response.status == 404) {
                        this.$router.push('/codes')
                    }
                });
        },
        components: {
            InputField
        },
        data: function () {
            return {
                form: {
                    'identifier' : '',
                    'limit' : '',
                },
                errors: null
            }
        },
        methods: {
            submitForm: function () {
                axios.patch('/api/codes/' + this.$route.params.id, this.form)
                    .then(response => {
                        this.$router.push(response.data.links.self);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
