<template>
    <div>
        <form @submit.prevent="submitForm()" class="pb-2">
            <InputField name="identifier" label="Code Identifier" placeholder="Search by Code Identifier" @update:field="identifier = $event"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Search</button>
            </div>
        </form>
        <div v-if="loading">Loading ...</div>
        <div v-else>
            <div v-if="codes.data.length === 0">
                <p>No codes found,
                    <router-link to="/codes/create">Get started</router-link>
                </p>
            </div>
            <div v-for="code in codes.data">
                <router-link :to="'/codes/' + code.data.code_id"
                             class="flex items-center border-b border-gray-400 p-4 hover:bg-gray-100 hover:no-underline">
                    <div class="pl-4">
                        <div class="flex pb-1">
                            <p><img src="images/qr.svg" class="flex-1 text-left w-4 h-4" alt="clock"></p>
                            <p class="flex-1 text-blue-400 pl-2">{{ code.data.identifier }}</p>
                        </div>

                        <p class="text-gray-600 ">Limit: {{ code.data.limit }}</p>
                    </div>
                </router-link>
            </div>
            <div class="items-center mt-5">
                <pagination :data="codes" @pagination-change-page="getCodes"></pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "CodeIndex",
        components: {
            InputField
        },
        mounted() {
            this.getCodes();
        },
        data: function () {
            return {
                loading: true,
                codes: null,
                identifier: '',
            }
        },
        methods: {
            getCodes(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                axios.get('/api/codes?page=' + page + '&identifier=' + this.identifier)
                    .then(response => {
                        this.codes = response.data;
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    alert('Unable to get all codes.')
                });
            },
            submitForm: function () {
                axios.get('/api/codes?identifier=' + this.identifier)
                    .then(response => {
                        this.codes = response.data;
                    }).catch(error => {
                    alert('No code found with given identifier.')
                });
            }
        }
    }
</script>

<style scoped>
    .pagination { justify-content: center!important; }
</style>
