<template>
    <div>
        <form @submit.prevent="submitForm()" class="pb-2">
            <InputField name="mobile_number" label="Phone Number" placeholder="Search by Phone Number" @update:field="phoneNumber = $event"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Search</button>
            </div>
        </form>
        <div v-if="loading">Loading ...</div>
        <div v-else>
            <div v-if="registers.data.length === 0">
                <p>No registers yet</p>
            </div>
            <div v-for="register in registers.data">
                <router-link :to="'/registers/' + register.data.register_id"
                             class="flex items-center border-b border-gray-400 p-4 hover:bg-gray-100 hover:no-underline"
                             v-bind:class="[register.data.is_winner ? 'bg-green-100 hover:bg-green-200' : '']">
                    <div class="pl-4">
                        <div class="flex pb-1">
                            <p><img src="images/smartphone.svg" class="flex-1 text-left w-4 h-4" alt="smartphone"></p>
                            <p class="flex-1 text-blue-400 font-bold pl-2">{{ register.data.mobile_number }}</p>
                            <span v-if="register.data.is_winner" class="pl-2 italic font-bold">Winner!</span>
                        </div>

                        <div class="flex pb-1">
                            <p><img src="images/qr.svg" class="flex-1 text-left w-4 h-4" alt="clock"></p>
                            <p class="flex-1 text-blue-400 pl-2">{{ register.data.identifier }}</p>
                        </div>

                        <div class="flex">
                            <p><img src="images/clock.svg" class="flex-1 text-left w-4 h-4" alt="clock"></p>
                            <p class="flex-1 text-gray-600 pl-2">{{ register.data.send_time }}</p>
                        </div>

                    </div>
                </router-link>
            </div>
            <div class="items-center mt-5">
                <pagination :data="registers" @pagination-change-page="getRegisters"></pagination>
            </div>

        </div>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "RegisterIndex",

        components: {
            InputField
        },
        mounted() {
            this.getRegisters();
        },
        data: function () {
            return {
                loading: true,
                registers: {},
                phoneNumber: '',
            }
        },
        methods: {
            getRegisters(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                axios.get('/api/registers?page=' + page + '&mobile_number=' + this.phoneNumber)
                    .then(response => {
                        this.registers = response.data;
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    alert('Unable to get all registers.')
                });
            },
            submitForm: function () {
                axios.get('/api/registers?mobile_number=' + this.phoneNumber)
                    .then(response => {
                        this.registers = response.data;
                    }).catch(error => {
                    alert('No register found with given phone number.')
                });
            }
        }
    }
</script>

<style scoped>
    .pagination { justify-content: center!important; }
</style>
