<template>
    <div>
        <div v-if="loading">
            Loading ...
        </div>
        <div v-else>
            <div class="flex justify-between">
                <div class="text-blue-400">
                    <button>
                        <router-link :to="'/registers'">
                            < Back
                        </router-link>
                    </button>
                </div>
                <div v-if="modal" @click="modal = !modal" class="bg-black opacity-25 absolute right-0 left-0 top-0 bottom-0
z-10"></div>
            </div>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Phone Number</p>
            <p class="pt-2 text-blue-400">{{ register.mobile_number }}</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Code Identifier</p>
            <p class="pt-2 text-blue-400">{{ register.identifier }}</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Register Time</p>
            <p class="pt-2 text-blue-400">{{ register.send_time }}</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">winner</p>
            <p class="pt-2 text-blue-400">{{ register.is_winner ? 'Yes' : 'No'  }}</p>
            <p class="pt-6 text-gray-600 font-bold uppercase text-sm">Last updated</p>
            <p class="pt-2 text-blue-400">{{ register.last_updated }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegisterShow",
        mounted() {
            axios.get('/api/registers/' + this.$route.params.id)
                .then(response => {
                    this.register = response.data.data;
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    if (error.response.status == 404) {
                        this.$router.push('/registers')
                    }
                });
        },
        data: function () {
            return {
                modal: false,
                register: null,
                loading: true,
            }
        },
        methods: {
            destroy: function () {
                axios.delete('/api/registers/' + this.$route.params.id)
                    .then(response => {
                        this.$router.push('/registers');
                    })
                    .catch(error => {
                        alert('Unable to delete');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
