<template>
    <div class="h-screen bg-white">
      <div class="flex">
          <div class="bg-gray-200 w-48 h-screen border-r-2 border-gray-400">
            <nav class="pt-4 pl-5">
                <router-link to="/">
                        Home
                </router-link>

                <p class="text-gray-500 uppercase font-bold pt-12 text-xs">Create</p>

                <router-link to="/codes/create" class="flex items-center py-2 text-sm">
                    <svg viewBox="0 0 24 24" class="fill-current text-blue-600 w-5 h-5"><path d="M23.3 11.9c0 .9-.6 1.4-1.4 1.4h-8.5v8.5c0 .9-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4v-8.5H2c-.9 0-1.4-.6-1.4-1.4 0-.9.6-1.4 1.4-1.4h8.5V1.9c0-.9.6-1.4 1.4-1.4s1.4.6 1.4 1.4v8.5h8.5c.9 0 1.5.6 1.5 1.5z"/></svg>
                 <div class="tracking-wide pl-3 hover:text-blue-600">New Code</div>
                </router-link>

                <p class="text-gray-500 uppercase font-bold pt-12 text-xs">Logs</p>

                <router-link to="/codes" class="flex items-center py-2 text-sm">
                    <img src="images/qr.svg" class="w-4 h-4" alt="smartphone">
                    <div class="tracking-wide pl-3 hover:text-blue-600">Codes</div>
                </router-link>

                <router-link to="/registers" class="flex items-center py-2 text-sm">
                    <img src="images/smartphone.svg" class="w-4 h-4" alt="smartphone">
                    <div class="tracking-wide pl-3 hover:text-blue-600">Registers</div>
                </router-link>
            </nav>
          </div>

          <div class="flex-1 flex flex-col h-screen overflow-y-hidden">
              <div class="h-16 px-6 flex justify-between items-center border-b border-gray-400">
               <div>Contest Panel</div>
              </div>

              <div class="flex flex-col overflow-y-hidden flex-1">
                  <router-view class="p-6 overflow-x-hidden"></router-view>
              </div>
          </div>
      </div>



    </div>

</template>

<script>
    export default {
        name: 'App',
        created() {
        }
    }
</script>

<style scoped>

</style>
