<template>
    <div class="relative pb-4">
        <label :for="name" class="absolute pt-2 text-blue-500 uppercase text-xs font-bold">{{ label }}</label>
        <input type="text" :id="name"
               class="pt-8 text-gray-900 w-full border-b pb-2 focus:outline-none focus:border-blue-400"
               :class="errorClassObject()" :placeholder="placeholder" v-model="value" @input="updateField()">

        <p class="text-red-700 tex-sm" v-text="errorMessage()">Error here</p>
    </div>
</template>

<script>
    export default {
        name: "InputField",

        props: [
            'name', 'label', 'placeholder', 'errors', 'data',
        ],
        data: function () {
            return {
                value: ''
            }
        },
        methods: {
            updateField: function () {
                this.clearErrors(this.name);
                this.$emit('update:field', this.value)
            },
            errorMessage: function () {
                if (this.hasError)
                    return this.errors[this.name][0];
            },
            clearErrors: function () {
                if (this.hasError)
                    return this.errors[this.name] = null;
            },
            errorClassObject: function () {
                return {
                    'error-field': this.hasError
                }
            }
        },
        computed: {
          hasError: function() {
              return this.errors && this.errors[this.name] && this.errors[this.name].length > 0
          }
        },
        watch: {
            data: function (val) {
                this.value = val
            }
        }
    }
</script>

<style scoped>
    .error-field {
        @apply .border-red-500 .border-b-2
    }
</style>
